.main-content{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 5px;
    gap: 3em;
    background: linear-gradient(#e66465, #9198e5);
}

.search-section{
    margin-top: 4em;
    display: flex;
    flex-direction: row;
    gap: 25px;
}